.messages-frame {
    height: 100%;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  
  .date {
    align-self: center;
    margin: 20px;
  }
  
  .selfMessage{ 
    align-self: end;
    position: relative;
    width: 200px;
    background: #007AFF;
    border-radius: 5px;
    z-index: 1;
    padding: 5px 10px;
    color: #fff;
  }
  
  .selfMessage::after{
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    border: 20px solid transparent;
    border-top: 20px solid #007AFF;
    border-radius: 2px;
    z-index: -1;
  }
  
  .otherUser {
    display: flex;
    flex-direction: row;
  }
  
  .iconUser {
    margin-right: 15px;
  }
  
  .otherMessage {
    align-self: start;
    position: relative;
    width: 200px;
    background: #f2f2f2;
    border-radius: 5px;
    z-index: 1;
    padding: 5px 10px;
  }
  
  .otherMessage::before{
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    border: 20px solid transparent;
    border-top: 20px solid #f2f2f2;
    border-radius: 2px;
    z-index: -1;
  }
  
  .timeMessage {
    text-align: end;
  }